<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Spotify Guessing Game with Friends</title>
	
	<!-- CSS -->
	<link type="text/css" rel="stylesheet" href="/css/style.css">
	<!-- CSS framework here: <link type="text/javascript" rel="" href="">  -->

	<!-- JavaScript -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="/js/playGame.js"></script>

</head>
<body>