<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Spotify Guessing Game with Friends</title>
	
	<!-- CSS -->
	<link type="text/css" rel="stylesheet" href="/css/style.css">
	<!-- CSS framework here <link type="text/javascript" rel="" href="">  -->

	<!-- JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="/js/playGame.js"></script>

</head>
<body>