<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Spotify Guessing Game with Friends</title>
	
	<!-- CSS -->
	<!-- CSS framework will go here: <link type="text/javascript" rel="" href="">  -->
	<link type="text/css" rel="stylesheet" href="/css/style.css">

	<!-- JavaScript -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>

	<!-- show nothing in the favicon to override my browser cache
	<link rel='icon' type='image/png' href='favicon.png' />
	-->

</head>
<body>