<div class="right menu">

	<div class="item">
		<h5> Logged in currently as <%= user.spotifyId %> </h5>
	</div>

	<div class="item">
		<% if (user.userImageUrl == null){ %>
			<i class="user icon large green"></i>
		<% } else { %>
			<img src="<%= user.userImageUrl %>" class="ui circular image tiny" height="150px" width="160px">
			<!-- height and width not necessary with Semantic UI classes, but keeping just as a fallback -->
		<% } %>	
	</div>

	<div class="item">
		<a href="/logout">
			<button class="ui toggle button red" style="text-decoration:none">Logout</button>
		</a>
	</div>

</div> <!-- close right menu -->