body {
	font-family: sans-serif;
	background-color: azure;
	font-size: 1em;
}

/*
p { 
	border: 1px solid black;
}
*/

.button {
	font-size: 1em;
	background-color: seashell;
	border-radius: 8px;
}

.textField {
	font-size: 1em;
}

ul {
	list-style: none;
}

#leftContainer, #rightContainer {
	float: left;
	padding: 3%;
	width: 44%;
}