body {
	font-family: sans-serif;
	background-color: azure;
	font-size: 1em;
}

/* begin button styles */
.button {
	font-size: 1em;
	background-color: seashell;
	border-radius: 8px;
	padding: 6px 10px;
	margin: 10px;
}

.logout {
	background-color: tomato;
}

.submitAction {
	background-color: greenyellow;
}

.home {
	background-color: aquamarine;
}
/* end button styles */

.textField {
	font-size: 1em;
}

ul {
	list-style: none;
}

#leftContainer, #rightContainer {
	float: left;
	padding: 3%;
	width: 44%;
}

.border {
	border: 1px solid gray;
	margin: 5px;
	padding: 10px;
}


