@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);

html, body {
	font-size: 1em;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	color: #1B1B1B;   /* spotify darker black */
	height: 100%;
}

/* begin button styles */
/* being over-ridden by Semantic UI */
	.button {
/*		font-size: 1em;	*/
		background-color: seashell; 
		border-radius: 8px;
		padding: 6px 10px;
		margin: 10px;
	}

	.logout {
		background-color: tomato;
	}

	.submitAction {
		background-color: greenyellow;
	}

	.home {
		background-color: aquamarine;
	}


.ui.button.clear {
	background-color: seashell; 
	border: 1px black solid;
}

/* end button styles */


.textField {
	font-size: 1em;
}

ul, li {
	list-style: none;
}

#leftContainer, #rightContainer {
	float: left;
	padding: 3%;
	width: 44%;
}

.border {
	border: 1px solid gray;
	margin: 20px;
	padding: 10px;
}

/* overrid semantic UI colors for li's */
.ui.selection.list .list>.item, .ui.selection.list>.item {
	color: #1B1B1B;		/* spotify darker black */ 
}

.ui.green.button, .ui.green.buttons {
	background-color: #2EBD59;		/* spotify pop of green */
}


h1, h2 {
	color: #2EBD59;		/* spotify pop of green */
}

h3 {
	display: inline;
	padding: 20px;
	color: #1B1B1B;		/* spotify darker black */
	padding-bottom: 
}

h4 {
	color: #1B1B1B;		/* spotify darker black */

}

#wrapper {
	background-color: #1B273B;  /* spotify dark blue */
	padding: 0 4% 0 4%;
	height: 100%;
}

#centercontainer {
	background-color: #F8F8F8; /* spotify mid-gray/white */
	padding: 0 0 4% 0;
	height: 100%;
}

.ui.menu .left .item:before {
	display:none;
}

.ui.segment {
	background-color: #F8F8F8; /* spotify mid-gray/white */
	box-shadow: none;
}

/* spotify website colors
dark blue - #1B273B
mid-gray/white - #F8F8F8
bright white - #FFFFFF
pop of green - #2EBD59
black on buttons - #2E2F33
darker black for navigation - #1B1B1B (use sparinglye)
medium black/gray - #262626


*/






