<% include ../partials/header %>

<div id="wrapper">

<div id="centercontainer">

	<!-- Heading -->
	<div class="ui menu">
		<% include ../partials/menu_left %>
	</div> <!-- close heading / ui menu -->

	<div class="spacey">
		<p>Oops, something went wrong on our end. Sorry about that. This is the 500 page.</p>

		<p>Please <a href="/index">go home</a> and try again.</p>
	</div>

</div> <!-- close centercontainer -->

</div> <!-- close wrapper -->

<% include ../partials/footer %>