<% include ../partials/header %>

<p>Oops, something went wrong on our end. Sorry about that. This is the 500 page.</p>

<p>Please <a href="/index">go home</a> and try again.</p>

<% include ../partials/footer %>