<!-- edit an existing playlist by changing the songs on it or the difficulty level of each song -->
<% include ../partials/header %>

<p>Change songs in an existing playlist.</p>





<!-- bring in custom js scripts for this page -->


<% include ../partials/footer %>