<!-- page to search and find songs to add to a playlist -->
<% include ../partials/header %>

<p>Search and find songs to add to a playlist. Choose songs.</p>






<!-- bring in custom js scripts for this page -->
<script type="text/javascript" src="/js/chooseSongs.js"></script>

<% include ../partials/footer %>