<!-- display a single user's playlists -->
<% include ../partials/header %>

<h1>Show page for playlists</h1>

<div>Logged in currently as <%= user.fullName %> </div>

<div>
	<ul id="showPlaylists"></ul>
</div>

<% include ../partials/footer %>