<!-- form for a single user to edit their bio / user info -->
<% include ../partials/header %>

<p>Edit page for single user's bio</p>
<p> this user: <%= user.email %></p>





<% include ../partials/footer %>