<!-- show scores for ALL players -->
<% include ../partials/header %>



<% if(req.session.id === null || req.session.id === undefined){  %>

	<p>Index Users Page - HOME page - PUBLIC<p>

	<div class="border">
		<p>About this application...</p>
	</div>

	<div class="border">
		<h3>Sign in using your Spotify Account</h3>
	    
	    <a href="/login/spotify"><button class="button">Login with Spotify</button></a>

	</div>



<%  }  %>


<% if(req.session.id !== null && req.session.id !== undefined){  %>

	<p>Index Users Page - HOME page - LOGGED IN<p>

	<div>Logged in currently as ____<%=  %>____ </div>


	<div class="border" id="userProfileDiv">
	</div>

	<div>
		
		<a href="/users/<%= req.session.id %>"><button class="button">Go to 'show' user page</button></a>
		<a href="/users/<%= req.session.id %>/edit"><button class="button">Edit user info</button></a>
		<a href="/logout"><button class="button logout">Logout</button></a>
	</div>

	<p>Player page for single user</p>
	<p>"show" player's info</p>
	<p>show player friends</p>

	<p>Or, you can play against the computer, find friends to play against, or create a playlist to challenge friends with.</p>
	<a href="/play/computer"><button class="button">Play computer</button></a>
	<a href=""><button class="button">Find friends</button></a>
	<a href=""><button class="button">Create playlist</button></a>



<%  }  %>

	<div class="border">
		<p>This will display the scores for all players & shows whether or not you are logged in.</p>
	</div>


<!-- bring in custom js scripts for this page -->
<script type="text/javascript" src="/js/userProfile.js"></script>

<% include ../partials/footer %>