<!-- show scores for ALL players -->
<% include ../partials/header %>



<% if(req.session.id === null || req.session.id === undefined){  %>

	<p>Index Users Page - HOME page - PUBLIC<p>

	<p><a href="/signup"><button class="button">Signup</button></a></p>

	<p><a href="/login"><button class="button">Login</button></a></p>

<%  }  %>


<% if(req.session.id !== null && req.session.id !== undefined){  %>

	<p>Index Users Page - HOME page - LOGGED IN<p>

	<p><a href="/users/<%= req.session.id %>">Go to 'show' user page</a></p>
	<p><a href="/users/<%= req.session.id %>/edit">Edit user info</a></p>

	<div>Logged in currently as <%=  %> </div>
	<div><a href="/logout"><button class="button">Logout</button></a></div>
<%  }  %>

<p>This will display the scores for all players</p>

<% include ../partials/footer %>