<!-- show scores for ALL players -->
<% include ../partials/header %>



<div class="border">
	<p>About this application...</p>
</div>

<div class="border">
	<h3>Sign in using your Spotify Account</h3>
    
    <a href="/login/spotify"><button class="button">Login with Spotify</button></a>

</div>


<% include ../partials/footer %>