<!-- show scores for ALL players -->
<% include ../partials/header %>

<div id="wrapper">

<div id="centercontainer">

	<!-- Heading -->
	<div class="ui menu">
		<div class="left menu">
			<div class="item">
				<h2>Spotify Challenge Guessing Game</h2>
			</div>
		</div>
	</div> <!-- close heading / ui menu -->

	<div class="border">
		About this application...
	</div>

	<div>
		<h3>Sign in using your Spotify Account</h3>
	</div>
	<div>
		<a href="/login/spotify"><button class="ui toggle button green" style="margin-top:20px; margin-left:20px">Login with Spotify</button></a>
    </div>

</div> <!-- close centercontainer -->

</div> <!-- close wrapper -->


<% include ../partials/footer %>