<!-- show scores for ALL players -->
<% include ../partials/header %>

<p><a href="/signup"><button class="button">Signup</button></a></p>

<p><a href="/login"><button class="button">Login</button></a></p>

<p>These are the scores for all players</p>

<% include ../partials/footer %>