<!-- show scores for ALL players -->
<% include ../partials/header %>

<div id="wrapper">

<div id="centercontainer">

	<!-- Heading -->
	<div class="ui menu">
		<% include ../partials/menu_left %>
	</div> <!-- close heading / ui menu -->


	<div>
		<h3>Sign in using your Spotify Account</h3>
	</div>
	<div>
		<a href="/login/spotify"><button class="ui toggle button green" style="margin-top:20px; margin-left:20px">Login with Spotify</button></a>
    </div>


    <div class="border">
		<p>Spotify Challenge Guessing Game is a a game where Spotify users can login using their Spotify accounts and guess songs from random selections of their own playlists.</p>
		<p>This application was built as a fun class project by <a href="http://www.lindsayelia.com/" target="blank">Lindsay Elia</a>.</p>
		<p>The code for this application can be found on GitHub at <a href="https://github.com/LindsayElia/spotify-guessing-game" target="blank">github.com/LindsayElia/spotify-guessing-game</a>.</p>
	</div>

</div> <!-- close centercontainer -->

</div> <!-- close wrapper -->

<% include ../partials/footer %>