<!-- show scores for ALL players -->
<% include ../partials/header %>



<div class="border">
	<p>About this application...</p>
</div>

<div class="border">
	<h3>Sign in using your Spotify Account</h3>
    
    <a href="/login/spotify"><button class="button">Login with Spotify</button></a>

</div>



<!-- bring in custom js scripts for this page -->
<script type="text/javascript" src="/js/userProfile.js"></script>

<% include ../partials/footer %>