<!-- show scores for ALL players -->
<% include ../partials/header %>

<p><a href="/signup"><button class="button">Signup</button></a></p>

<p><a href="/login"><button class="button">Login</button></a></p>

<p>These are the scores for all players</p>

<% if(req.session.id !== null && req.session.id !== undefined){  %>
	<div><a href="/logout"><button class="button">Logout</button></a></div>
<%  }  %>

<script>
	
	console.log("hello");
</script>

<% include ../partials/footer %>