<!-- show scores for ALL players -->
<% include ../partials/header %>

<!-- Heading -->
<h2>Spotify Challenge Guessing Game</h2>
	

<div class="border">
	<p>About this application...</p>
</div>

<div class="border">
	<div>
		<h3>Sign in using your Spotify Account</h3>
    </div>
    <div>
    	<a href="/login/spotify"><button class="ui toggle button green" style="margin-top:20px">Login with Spotify</button></a>
    </div>

</div>


<% include ../partials/footer %>