<!-- show a login page and link to sign up for non-logged in users -->
<% include ../partials/header %>

<h1>Login page</h1>

<form action="/login" method="POST">
	<p>
		<label for="userEmail">Email: </label>
		<input type="text" id="userEmail" name="userEmail" placeholder="you@email.com" class="textField" autofocus>
	</p>
	<p>
		<label for="userPass">Password: </label>
		<input type="text" id="userPass" name="userPass" class="textField">
	</p>
	<input type="submit" value="Login" class="button">

</form>


<p>Need an account? <a href="/signup"><button class="button">Signup</button></a></p>

<p><a href="/index"><button class="button home">Go Home</button></a></p>

<% include ../partials/footer %>