<!-- display a single user's bio & game info -->
<% include ../partials/header %>

<div>
	Logged in currently as <%= user.fullName %>  	
	<a href="/logout"><button class="button logout">Logout</button></a>
</div>

<form>
	<input type="hidden" id="spotifyId" value="<%= user.spotifyId %>">
</form>


<div>
	<img src="<%= user.imageUrl %>" height="150px" width="160px">
</div>

<h2>Choose a playlist to guess up to 10 random the songs from that playlist.</h2>

<div class="border">
	<p>Current (non-empty) playlists, created by you:</p>
	<p id="showPlaylists"></p>
</div>

	
	

<!-- bring in custom js scripts for this page -->
<script type="text/javascript" src="/js/viewPlaylists.js"></script>


<% include ../partials/footer %>