<!-- display a single user's bio & game info -->
<% include ../partials/header %>

<!-- hidden -->
<form>
	<input type="hidden" id="spotifyId" value="<%= user.spotifyId %>">
</form>


<div id="wrapper">

<div id="centercontainer">

	<!-- Heading -->
	<div class="ui menu">

		<% include ../partials/menu_left %>
		<% include ../partials/menu_right %>

	</div> <!-- close heading / ui menu -->



	<h3>Choose a playlist to guess songs from that playlist.</h3>
	<i class="user icon large green"></i>

	<div class="border">
		<h4>Current (non-empty) playlists, created by you:</h4>
		<div id="showPlaylists" class="ui divided selection list"></div>
	</div>



</div> <!-- close centercontainer -->

</div> <!-- close wrapper -->



<!-- bring in custom js scripts for this page -->
<script type="text/javascript" src="/js/viewPlaylists.js"></script>


<% include ../partials/footer %>