<!-- display a single user's bio & game info -->
<% include ../partials/header %>

<p>Player page for single user</p>
<p>"show" player's info</p>
<p>show player friends</p>




<!-- bring in custom js scripts for this page -->
<script type="text/javascript" src="/js/viewPlaylists.js"></script>
<script type="text/javascript" src="/js/findFriends.js"></script>

<% include ../partials/footer %>