<!-- page to search and find songs to add to a playlist -->
<% include ../partials/header %>

<p>Welcome!</p>




<a href="/index"><button class="button home">Go Home</button></a>


<% include ../partials/footer %>