<!-- Play game! page to show/hide songs, play music, accept guesses -->
<% include ../partials/header %>

<h1>Play game!!!!</h1>

<!-- start button -->
<div id="divStartGame">
	<form id="startGameForm" action="/othertest">
		<input type="submit" value="start" class="button">
	</form>
</div>

<!-- audio tag for playing song previews-->
<div>
	<audio id="audioPreviewUrl" src="" alt=""></audio>
</div>

<!-- user guess input form -->
<div id="divUserInputGuess">
	<form id="inputGuessForm" action="/test">
		<div>
			<label for="userInputGuess">Guess the song name or artist: </label>
			<input type="text" name="userInputGuess" placeholder="??????" class="textField">
		</div>
		<div>
			<input type="submit" value="Guess" class="button">
		</div>
	</form>
</div>

<!-- song results -->
<div id="divSongResults">
	<ul id="pSongResults"></ul>
</div>

<!-- score -->
<div id="divScore">
	<p>show score info here</p>
</div>


<!-- bring in custom js scripts for this page -->
<script type="text/javascript" src="/js/playGame.js"></script>

<% include ../partials/footer %>
