<!-- Play game! page to show/hide songs, play music, accept guesses -->
<% include ../partials/header %>

<h1>Play game!!!!</h1>

<div>
	<form>
		<input type="submit" id="startGameForm" value="start" class="button">
	</form>
</div>

<!-- audio tag for playing song previews-->
<div>
	<audio id="audioPreviewUrl" src="" alt=""></audio>
</div>

<div>
	<p>show artist info here</p>
</div>

<div>
	<p>show score info here</p>
</div>


<!-- bring in custom js scripts for this page -->
<script type="text/javascript" src="/js/playGame.js"></script>

<% include ../partials/footer %>
