<!-- Play game! page to show/hide songs, play music, accept guesses -->
<% include ../partials/header %>

<!-- Hidden stuff -->
<form>
	<input type="hidden" id="spotifyId" value="<%= user.spotifyId %>">
</form>

<form>
	<input type="hidden" id="playlistId" value="<%= playlist.playlistId %>">
</form>

<!-- Logout button -->
<div>
	Logged in currently as <%= user.fullName %>  	
	<a href="/logout"><button class="button logout">Logout</button></a>
</div>

<!-- back button -->
<a href="/users/<%= user.spotifyId %>"><button class="button">Back to playlists</button></a>

<h1>Play game!!!!</h1>
<p>Guess the song name or artist name. Hurry, you only have 30 seconds!</p>

<div id="leftContainer">

	<!-- start & 'play again' button -->
	<div id="divStartGame">
		<form id="startGameForm" action="/othertest">
			<input type="submit" value="start" class="button" id="startButton">
		</form>
	</div>

	<!-- audio tag for playing song previews-->
	<div>
		<audio id="audioPreviewUrl" src="" alt=""></audio>
	</div>

	<!-- user guess input form -->
	<div id="divUserInputGuess">
		<form id="inputGuessForm" action="/test">
			<div>
				<label for="userInputGuess">Guess the song name or artist: </label>
				<input type="text" name="userInputGuess" placeholder="??????" class="textField" id="userInputGuess">
			</div>
			<div>
				<input type="submit" value="Guess" class="button">
			</div>
		</form>
	</div>

	<!-- song results -->
	<div id="divSongResults">
		<ul id="pSongResults"></ul>
	</div>


</div> <!-- close div leftContainer -->


<div id="rightContainer">

<!-- song number -->
	<div id="divSongCount">
		<ul>
			<li id="songCount"></li>
		</ul>
	</div>

	<!-- countdown -->
	<div id="countdown">
		<ul>
			<li id="countdownTimerHeader"></li>
			<li id="countdownTimer"></li>
		</ul>
	</div>

	<!-- score -->
	<div id="divScore">
		<ul>
			<li>Your score is:</li>
			<li id="numCorrect"></li>
			<li id="numIncorrect"></li>
		</ul>
	</div>

</div> <!-- close div rightContainer -->


<!-- bring in custom js scripts for this page -->
<script type="text/javascript" src="/js/playGame.js"></script>

<% include ../partials/footer %>
