<!-- Play game! page to show/hide songs, play music, accept guesses -->
<% include ../partials/header %>

<p>Play game!!!!</p>






<!-- bring in custom js scripts for this page -->
<script type="text/javascript" src="/js/playGame.js"></script>

<% include ../partials/footer %>
